language: R
sudo: false
cache: packages

before_install: 
  - sudo apt-get install libudunits2-dev
  - sudo apt-get install libgdal-dev

script:
  - Rscript -e 'bookdown::render_book("index.Rmd")'
  
deploy: 
  provider: pages
  skip_clean: true
  github_token: $GITHUB_TOKEN
  keep-history: true
  on: 
    branch: master
